.move{
    background-color: rgb(216, 14, 14);
    transform: rotate(360deg);
    transition: 1s ease;
   
body{
    background-color: green
    ;


}

.stop{
    background-color: greenyellow;
    

}
